$breakpoints: (
        'xs': 480px,
        'sm': 768px,
        'md': 1024px,
        'lg': 1280px,
        'xl': 1440px,
        'xxl': 1920px
);

@mixin respond-to($size) {
  $breakpoint: map-get($breakpoints, $size);
  @if $breakpoint {
    @media (max-width: $breakpoint) {
      @content;
    }
  } @else {
    @warn "Invalid breakpoint: #{$size}";
  }
}

@mixin respond-between($min-size, $max-size) {
  $min: map-get($breakpoints, $min-size);
  $max: map-get($breakpoints, $max-size);

  @if $min and $max {
    @media (min-width: $min) and (max-width: $max) {
      @content;
    }
  } @else {
    @warn "Invalid breakpoint range: #{$min-size} to #{$max-size}";
  }
}

@mixin landscape {
  @media (orientation: landscape) {
    @content;
  }
}

@mixin portrait {
  @media (orientation: portrait) {
    @content;
  }
}
